<mat-card>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <mat-card-header>
        <mat-card-title>CREATE A TODO</mat-card-title>
        <mat-card-subtitle>Todo form</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
                <p>
                    <mat-form-field appearance="legacy" class="full-width">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy" class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput 
                            placeholder="Description" 
                            formControlName="description"
                            rows="3"></textarea>
                    </mat-form-field>
                </p>
                <p>
                    <mat-checkbox formControlName="state">State</mat-checkbox>
                </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!createForm.valid">Add</button>
        </mat-card-actions>
    </form>
</mat-card>