<mat-card>
    <mat-card-header>
      <mat-card-title>TODOS</mat-card-title>
      <mat-card-subtitle>List todos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
      <table mat-table [dataSource]="todos$" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let todo"> {{todo.title}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let todo"> {{todo.state}} </td>
        </ng-container>

        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef> Check </th>
          <td mat-cell *matCellDef="let todo">
            <mat-checkbox [checked]="todo.state === 'done'" 
              (click)="$event.stopPropagation()"
              (change)="$event ? updateTodoState(todo) : null">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let todo">
            <button mat-button color="basic" (click)="editTodo(todo)">
              <mat-icon>zoom_in</mat-icon>
            </button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
          (click)="editTodo(row)" 
          [ngClass]="{'line-through': row.state === 'done'}"></tr>
      </table>

    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <!-- <button mat-button>SHARE</button> -->
      <button mat-raised-button color="primary" type="button" (click)="redirect2AddTodo()">Add</button>
    </mat-card-actions>
  </mat-card>