table {
  width: 100%;

  tr {
    &.mat-row:nth-child(1n + 1) {
      background-color: #e4f0ec;
    }
    &.mat-row:not(:nth-child(2n + 1)) {
      background-color: #ffffff;
    }

    & > td {
      cursor: pointer;
    }

    &.line-through {
      & > td {
        position: relative;
        &:before {
          position: absolute;
          top: 22px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #000000;
          content: "";
        }

        &:first-child {
          &:before {
            left: 10px;
          }
        }

        &:last-child {
          &:before {
            width: calc(100% - 10px);
          }
        }
      }
    }
  }
}
