<mat-card>
    <mat-card-header>
      <mat-card-title>SHOW TODO</mat-card-title>
      <mat-card-subtitle>Todo details (id: {{ (todo$ | async)?.id }})</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>Title:</b> {{ (todo$ | async)?.title }}<br>
        <b>Description:</b> {{ (todo$ | async)?.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>